<div class="container">
		
	  <form [formGroup]="myGroup" (ngSubmit)="onSubmit()">
      <div>
	    <label for="InputPlaca">Placa do veículo</label>

	    <input type="text" class="form-control" id="placa" aria-describedby="placa" placeholder="Enter placa" formControlName="placa">
	   
	  
	   	
	  <label for="InputCor">Cor do veículo</label>

	    <input type="text" class="form-control" id="cor" aria-describedby="cor" placeholder="Enter cor" formControlName="cor" >
	   

	  
    <label for="exampleFormControlSelect1">Disponibilidade</label>
    <select class="form-control" id="disponivel" formControlName="disponivel">
      <option>1</option>
      <option>0</option>
     
    </select>
    <small>selecione 0 para disponivel e 1 para indisponivel</small>
     
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
	 
	 
	




<!-- ---------------------------------------------------------------------------- -->







<div class="container">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="placa">
    <th mat-header-cell *matHeaderCellDef> placa </th>
    <td mat-cell *matCellDef="let vehicles"> {{vehicles.placa}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="cor">
    <th mat-header-cell *matHeaderCellDef> cor </th>
    <td mat-cell *matCellDef="let vehicles"> {{vehicles.cor}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="disponivel">
    <th mat-header-cell *matHeaderCellDef> disponivel</th>
    <td mat-cell *matCellDef="let vehicles"> {{vehicles.disponivel}} </td>
  </ng-container>
  <ng-container matColumnDef="ações">
    <th mat-header-cell *matHeaderCellDef> Ações</th>
    <td mat-cell *matCellDef="let vehicles">
     <button class="button-al" mat-flat-button color="primary" (click)="update(vehicles.idVeiculo)" >Editar</button>
     <button mat-flat-button color="warn" (click)="delete(vehicles.idVeiculo)">Excluir</button>
  </td>
  </ng-container>

  

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
