
	 
	 <button style="margin-left: 50%" mat-fab color="primary" (click)="openDialog()">ADC</button>


<!-- ---------------------------------------------------------------------------- -->






<div class="container">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="placa">
    <th mat-header-cell *matHeaderCellDef> placa </th>
    <td mat-cell *matCellDef="let vehicles"> {{vehicles.placa}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="cor">
    <th mat-header-cell *matHeaderCellDef> cor </th>
    <td mat-cell *matCellDef="let vehicles"> {{vehicles.cor}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="disponivel">
    <th mat-header-cell *matHeaderCellDef> disponivel</th>
    <td mat-cell *matCellDef="let vehicles"> {{vehicles.disponivel}} </td>
  </ng-container>
  <ng-container matColumnDef="ações">
    <th mat-header-cell *matHeaderCellDef> Ações</th>
    <td mat-cell *matCellDef="let vehicles">
     <button class="button-al" mat-flat-button color="primary" (click)="getVehicle(vehicles.idVeiculo)" >Editar</button>
     <button mat-flat-button color="warn" (click)="delete(vehicles.idVeiculo)">Excluir</button>
  </td>
  </ng-container>

  

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
