
<div class="container">
<div class="row">
<mat-card class="example-card">
  <mat-card-header>
    
    <mat-card-title>Aluguel de veículos</mat-card-title>
    
  </mat-card-header>
  <img mat-card-image src="https://abrilquatrorodas.files.wordpress.com/2018/10/salc3a3o-do-automc3b3vel.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="example-button-row">
      <button class="button-al" mat-flat-button color="primary" routerLink="/rent">ALUGUE AQUI</button>
      <button mat-flat-button color="warn" routerLink="/vehicle">CARROS</button>
    </div>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    
    <mat-card-title>Cliente VIP</mat-card-title>
    
  </mat-card-header>
  <img mat-card-image src="http://s2.glbimg.com/7jdTJG7o904j-Anrg7qvcpgpzPA=/620x430/e.glbimg.com/og/ed/f/original/2016/05/15/homem-dirigindo-carro.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="example-button-row">
      <button class="button-al" mat-flat-button color="primary" routerLink="/client">CADASTRO</button>
      
    </div>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    
    <mat-card-title>Reserva de veiculos</mat-card-title>
    
  </mat-card-header>
  <img mat-card-image src="https://thumbs.dreamstime.com/t/ponto-de-estacionamento-reservado-do-carro-75850770.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="example-button-row">
      <button class="button-al" mat-flat-button color="accent" routerLink="/reserv"> RESERVE SEU CARRO AQUI</button>
      
    </div>
  </mat-card-actions>
</mat-card>

</div>
</div>